body{
    
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}

header{
    text-align: center;
    background: #ff57ff;
    color: white;
    padding: 20px;
}

section{
    padding: 25px;
}
h2{
    text-align: center;
    color: #ff57ff;
}
.box{
    
    padding: 15px;
    background: white;
    margin: 10px auto;
    max-width: 800px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

ul{
    list-style: none;
    padding: 0;
    text-align: center;
}
ul li{
    margin: 5px;
    font-weight: bold;
}

.table-container{
    overflow-x: auto;
}
table{
    width: 100%;
    border-collapse: collapse;
    background: white;
}
th, td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
th{
    background: #ff57ff;
    color: white;
}

img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    
}


footer{
    
    background: black;
    padding: 10px;
    color: white;
    text-align: center;
}

@media(max-width: 600px){
    img{
        width: 60px;
        height: 60px;
    }
}